#Gemfile.lock

bin/
.bundle/
doc/
.idea/
pkg/
_site
vendor/

.yardoc
.livereload
.rvmrc
.rbenv-version
.ds_store
.DS_Store
.travis.yml

*.swp
*.watchr
*.rbc

examples/log
examples/goliath.log*
examples/goliath.pid
examples/rasterize/thumb


log/*.log
tmp/